/*font-family: 'Yellowtail', cursive;
font-family: 'Montserrat', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}


/*styles for banner section*/

#banner {
    width: 100%;
    background: linear-gradient(rgba(255, 130, 129, 0.8), rgba(243, 223, 125, 0.8)), url("../imgs/bannerBackground.png");
    background-size: cover;
}

::selection {
    background: rgba(0, 0, 0, 0.1);
}

.banner-container {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2em 0;
    align-items: center;
}

.logo {
    font-size: 3em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    font-size: 1.5em;
    text-transform: uppercase;
}

nav ul li {
    margin: 0 1.2em;
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11em 0;
}

h1 {
    font-size: 6em;
    font-family: 'Yellowtail', cursive;
    font-weight: lighter;
}

.welcome {
    font-size: 10em;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
}

.learn-more {
    outline: 0;
    padding: 0.6em 2.4em;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.banner hr {
    width: 50px;
    height: 1px;
    margin: 40px 0;
    color: #fff;
    background: #fff;
    border: 0;
}

.sliders {
    display: flex;
    justify-content: space-between;
    ;
    width: 100%;
}

.slider {
    width: calc(100%/4 - 4em);
    padding: 20px 0;
}

.slider hr {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background: #fff;
    border: 0;
}

.progress {
    font-size: 1.4em;
    font-weight: lighter;
}

.progress span {
    font-weight: bold;
    font-size: 1.5em;
}


/*styles for whate-we-do1 section*/

#what-we-do1 {
    width: 100%;
}

.what-we-do-container {
    width: 65%;
    margin: 0 auto;
    padding: 50px 0;
}

h2 {
    font-size: 3em;
    font-family: 'Yellowtail', cursive;
    font-weight: lighter;
    text-align: center;
}

.bolder {
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
}

hr {
    background: #DA7973;
    width: 80px;
    height: 3px;
    border: 0;
    margin: 30px auto;
}

hr~p {
    font-size: 2em;
    text-align: center;
    color: #777;
    font-weight: lighter;
    line-height: 1.6;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:80px 0 30px 0;
}

.img {
    width: calc(100%/3 - 2em);
    height: 230px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 0 #95E1D4;
}

.photo1 {
    background: url('../imgs/whatwedo2.png') no-repeat;
    background-size: cover;
}
.photo1:hover {
  background:linear-gradient(rgba(255, 130, 129, 0.8), rgba(243, 223, 125, 0.8)), url('../imgs/whatwedo2.png') no-repeat;
    background-size: cover;
}

.photo2 {
    background: url('../imgs/whatwedo2.png') no-repeat;
    background-size: cover;
}
.photo2:hover {
  background:linear-gradient(rgba(255, 130, 129, 0.8), rgba(243, 223, 125, 0.8)), url('../imgs/whatwedo2.png') no-repeat;
    background-size: cover;
}

.photo3 {
    background: url('../imgs/whatwedo3.png') no-repeat;
    background-size: cover;
}
.photo3:hover {
  background:linear-gradient(rgba(255, 130, 129, 0.8), rgba(243, 223, 125, 0.8)), url('../imgs/whatwedo3.png') no-repeat;
    background-size: cover;
}

.photo-info {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.6em;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity .3s;
}

.img:hover .photo-info {
    opacity: 1;
}


/*styles for stats*/

.stats{
  width:100%;
  background:#95E1D4;
}

.stats-container{
  width:65%;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.stat{
  width:calc(100%/5);
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  padding:80px 0;
  border-left:1px solid rgba(255,255,255,0.5);
  color:#fff;
  font-size: 1.4em;
}
.stat:last-child{
  border-right:1px solid rgba(255,255,255,0.5);
}
.number{
  font-size:4em;
  font-weight: bold;
}

/*styles for we-work-with section*/
#we-work-with{
  width:100%;
}
.we-work-with-container{
  width:65%;
  margin:0 auto;
  padding:50px 0;
}
.row{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:40px 0;
}
.row:first-of-type{
  border-bottom:1px solid rgba(0,0,0,0.1);
}
.service-item{
  width:calc(100%/3 - 2em);
  display:flex;
  align-items:flex-start;

}
.service-item img{
  /*float:left;*/
  margin: 0 20px 0 0;
}
.service-content{
  font-size:1.6em;
}
h3{
  margin-bottom:5px;
}
.service-content p{
  color:#777;
}


/*styles for for-all-devices section*/
#for-all-devices{
  width:100%;
  background:url("../imgs/uniquedesignBackground.png") no-repeat;
  background-size:cover;
}
.for-all-devices-container{
  width:65%;
  margin:0 auto;
  padding-top:40px;
}
.devices{
  width:100%;
  position:relative;
}
.tablet{
  background:url("../imgs/tablet.png") no-repeat;
  background-size: contain;
  padding:30%;
  margin-left: 18%;
}

.smartphone{
  position: absolute;
  background:url("../imgs/whitePhone.png") no-repeat;
  background-size: 100%;
  padding:16% 10%;
  bottom:-40px;
  left:60%;
}


/*styles for service section*/
#service{
  width:100%;
}
.service-container{
  width:65%;
  margin:0 auto;
  padding:50px 0;
}
.services-info{
  margin-top:50px;
  display:flex;
  justify-content: space-between;
}
.services-info>img{
  width:48%;
  height:100%;
}
.info-content{
  width:48%;
}
